* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #171717;
  color:  #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* iOS-specific styles */
@supports (-webkit-overflow-scrolling: touch) {
  /* Add any iOS-specific styles here */
  body {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling */
  }
  
  input[type="search"] {
    -webkit-appearance: none;
  }
}
